# .gitignore for my dotfiles
/emacs.d/auto-save-list
*~
/emacs.d/vendor/ac-dict
/emacs.d/.org-id-locations
/emacs.d/ac-comphist.dat
/emacs.d/eshell
/emacs.d/session*
/emacs.d/url
/emacs.d/var
/emacs.d/.emacs.desktop
/emacs.d/.emacs.desktop.lock
/emacs.d/projectile*
/emacs.d/recentf
