[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=https://gitlab.freedesktop.org/emersion/kanshi
After=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=graphical-session.target
